name: CI tests
on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [stable, nightly, 1.60.0, macos, windows, mingw]
        include:
          - build: stable
            os: ubuntu-latest
            rust: stable
          - build: nightly
            os: ubuntu-latest
            rust: nightly
          - build: 1.60.0
            os: ubuntu-latest
            rust: 1.60.0
          - build: macos
            os: macos-latest
            rust: stable
          - build: windows
            os: windows-latest
            rust: stable
          - build: mingw
            os: windows-latest
            rust: stable-x86_64-gnu
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo test --manifest-path ./miniz_oxide/Cargo.toml
      - run: cargo test --manifest-path ./miniz_oxide/Cargo.toml --features simd
      - run: cargo test --manifest-path ./miniz_oxide/Cargo.toml --no-default-features
      - name: Test minimal
        if: ${{ matrix.rust !=  '1.60.0' }}
        run: cargo test

  test_b:
    name: TestB
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - run: cargo test --manifest-path ./miniz_oxide/Cargo.toml --features block-boundary

  wasm:
    name: WebAssembly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}
      - run: cargo test --manifest-path ./miniz_oxide/Cargo.toml --target wasm32-unknown-unknown

  wasip1:
    name: WebAssembly
    runs-on: ubuntu-latest
    env:
      CARGO_TARGET_WASM32_WASIP1_RUNNER: wasmtime
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: bytecodealliance/actions/wasmtime/setup@v1
        with:
          toolchain: stable
          targets: ${{ matrix.target }}
      - run: cargo test --manifest-path ./miniz_oxide/Cargo.toml --target wasm32-wasip1

  serde:
    name: TestSerde
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - run: cargo test -p miniz_oxide_test
